DATABASE_URL=postgresql://admin:password@postgres:5432/gentlemen_barber
ADMIN_TOKEN=

YCLIENTS_COMPANY_ID=
YCLIENTS_PARTNER_TOKEN=
YCLIENTS_USER_TOKEN=
YCLIENTS_FORM_ID=
YCLIENTS_API_TOKEN=

BACKEND_URL=http://backend:8000

TELEGRAM_TOKEN=
ADMIN_CHAT_ID=

ALLOWED_ORIGINS=https://gentlemenbarber.ru,https://www.gentlemenbarber.ru
LOG_LEVEL=info
